.form {
  max-width: 385px;
}
.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.form__label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  width: 100%;
}

.form__label_type_checkbox {
  align-items: center;
  gap: 12px;
  justify-content: center;
  flex-direction: row;
}

.form__input {
  display: block;
  width: 100%;
  margin: 8px 0 32px;
  padding: 15px 20px;
  box-sizing: border-box;
  border: 1px solid #838383;
  border-radius: 4px;
  font-size: 20px;
  line-height: 30px;
}
.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__button {
  margin-bottom: 32px;
  width: 100%;
  padding: 20px 0;
  background-color: #1878dc;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.form__button:hover,
.form__button:focus {
  background-color: #3f96f3;
  outline: none;
}

.form__input:focus {
  border-color: #1878dc;
  outline: none;
}

.form__input:focus::placeholder {
  color: #1878dc;
}
